In [1]:
import pandas as pd
import numpy as np
import re
from pycountry import countries

In [2]:
imdb = pd.read_csv('messy_IMDB_dataset.csv', delimiter=';', encoding='latin1')
imdb

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,NaN,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,NaN,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,NaN,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,NaN,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,NaN,$ 1864182,213.152,7.4

In [3]:
# check if the column is redurant
if imdb['Unnamed: 8'].isna().any():
    imdb.drop(columns=['Unnamed: 8'], inplace=True)
imdb

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [4]:
imdb.rename(columns={
    'IMBD title ID': 'title ID',
    'Original titlÊ': 'Original title',
    'Genrë¨': 'Genre',
    ' Votes ': 'Votes',
}, inplace=True)

# change columns' headers
imdb.columns

Index(['title ID', 'Original title', 'Release year', 'Genre', 'Duration',
       'Country', 'Content Rating', 'Director', 'Income', 'Votes', 'Score'],
      dtype='object')

In [5]:
imdb.dtypes

title ID          object
Original title    object
Release year      object
Genre             object
Duration          object
Country           object
Content Rating    object
Director          object
Income            object
Votes             object
Score             object
dtype: object

In [6]:
# check if each id has 9 symbols
imdb[imdb['title ID'].str.len() != 9]

,title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income,Votes,Score
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# all the row has NaN values, so let's remove it
imdb.drop(index=13, inplace=True)

In [8]:
# if `Release year` contains anything exept nubers, spaes and `-`
imdb[imdb['Release year'].str.contains(r'[^\d\w-]', regex=True)]

,title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income,Votes,Score
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
5,tt0167260,The Lord of the Rings: The Return of the King,22 Feb 04,"Action, Adventure, Drama",201,New Zealand,PG-13,Peter Jackson,$ 1142271098,1.604.280,08.9
12,tt0060196,"Il buono, il brutto, il cattivo",23rd December of 1966,Western,161,Italy,Approved,Sergio Leone,$ 25252481,672.499,8.8
15,tt0167261,The Lord of the Rings: The Two Towers,01/16-03,"Action, Adventure, Drama",179,New Zeland,PG-13,Peter Jackson,$ 951227416,1.449.778,8.7.
18,tt0073486,One Flew Over the Cuckoo's Nest,18/11/1976,Drama,-,USA,R,Milos Forman,$ 108997629,891.071,8.7
70,tt0043014,Sunset Blvd.,"The 6th of marzo, year 1951","Drama, Film-Noir",110,USA,NaN,Billy Wilder,$ 299645,195.789,8.0

In [9]:
# if `Release year` contains numbers which can't be relevant to a date
imdb[imdb['Release year'].str.contains(r'([^\d]|^)([\d]{1}|[\d]{3}|[\d]{5,})[^\d]', regex=True)]

C:\Users\38098\AppData\Local\Temp\ipykernel_15996\405385419.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  imdb[imdb['Release year'].str.contains(r'([^\d]|^)([\d]{1}|[\d]{3}|[\d]{5,})[^\d]', regex=True)]

,title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income,Votes,Score
70,tt0043014,Sunset Blvd.,"The 6th of marzo, year 1951","Drama, Film-Noir",110,USA,NaN,Billy Wilder,$ 299645,195.789,8.0

In [10]:
# we don't know what 6 means, so let's just set the cell to None
imdb.at[70, 'Release year'] = None
imdb.loc[[70]]

,title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income,Votes,Score
70,tt0043014,Sunset Blvd.,None,"Drama, Film-Noir",110,USA,NaN,Billy Wilder,$ 299645,195.789,8.0

In [11]:
# remove spaces and other redurant symbols from the data
# imdb['Release year'].replace(r'[^A-Za-z\d]+', '-', regex=True, inplace=True)
# imdb['Release year'].replace(r'^[^A-Za-z\d]+|[^A-Za-z\d]+$', '', regex=True, inplace=True)
imdb

,title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [12]:
# function for the time conversion
def fix_date(date_str):
    if not date_str:
        return date_str
    
    numbers = re.findall(r'\b\d{1,4}(?=(?:st|nd|rd|th)\b)?', date_str)
    word = re.findall(r'\b(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|Nov(?:ember)?|Dec(?:ember)?)\b', date_str, flags=re.IGNORECASE)
    r = '-'.join(numbers)
    if word:
        r = r + '-' + word[0]
    return r

imdb['Release year'] = imdb['Release year'].apply(fix_date)

imdb['Release year'] = pd.to_datetime(imdb['Release year'], errors='coerce', format='mixed')
# imdb['Release year'].apply(lambda x: pd.to_datetime(x).strftime('%m/%d/%Y')[0])
# imdb['Release year'].apply()
# imdb['Release year'] = pd.to_datetime(imdb['Release year'], format='%d %b %y')
# imdb['Release year'] = pd.to_datetime(imdb['Release year'], format='%Y-%m-%d')
imdb['Release year']

0     1995-02-10
1     1972-09-21
2     2008-07-23
3     1975-09-25
4     1994-10-28
         ...
96    1974-03-21
97    1982-03-18
98    1965-12-20
99    2011-10-21
100   1953-02-05
Name: Release year, Length: 100, dtype: datetime64[ns]

In [13]:
# find duplicated id
imdb[imdb.duplicated(['title ID'])]

Empty DataFrame
Columns: [title ID, Original title, Release year, Genre, Duration, Country, Content Rating, Director, Income, Votes, Score]
Index: []

In [14]:
imdb['Country'].isin(countries).value_counts()

Country
False    100
Name: count, dtype: int64

In [15]:
def iscountry(name):
    try:
        countries.lookup(name)
    except(LookupError):
        return False
    else:
        return True

countries_errors = imdb['Country'].apply(lambda x: not iscountry(x))
imdb[countries_errors]['Country']

9               UK
11     New Zesland
15      New Zeland
24             US.
27          Italy1
33              UK
42              UK
50              UK
54              UK
57              UK
61              UK
79              UK
81              UK
86              UK
88              UK
95              UK
97    West Germany
99            Iran
Name: Country, dtype: object

In [16]:
# edit countries names
imdb.loc[imdb['Country'] == 'Italy1', 'Country'] = 'Italy'
imdb.loc[imdb['Country'].str.contains('New Z'), 'Country'] = 'New Zealand'
imdb.loc[imdb['Country'].str.contains('US'), 'Country'] = 'USA'
imdb

,title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,1972-09-21,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008-07-23,"Action, Crime, Drama",152,USA,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [17]:
# check duration digits
# imdb.loc[imdb['Duration'].isna(), 'Duration'] = None
imdb[
    ~(imdb['Duration'].isnull() | imdb['Duration'].str.isdecimal())
    ]['Duration']

4
6                Nan
9                Inf
11              178c
16    Not Applicable
18                 -
Name: Duration, dtype: object

In [18]:
# edit duration
imdb['Duration'] = imdb['Duration'].str.replace(r'[^\d]+', '', regex=True)
imdb['Duration'] = pd.to_numeric(imdb['Duration'], errors='coerce', downcast='integer')
imdb

,title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142.0,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,1972-09-21,"Crime, Drama",175.0,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,2008-07-23,"Action, Crime, Drama",152.0,USA,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220.0,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",NaN,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129.0,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149.0,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132.0,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123.0,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103.0,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [19]:
# income check
imdb['Income'] = imdb['Income'].str.strip()
imdb['Income'] = imdb['Income'].str.strip('$')
imdb['Income'] = imdb['Income'].str.strip(',')
imdb[~(imdb['Income'].isnull() | imdb['Income'].str.isdecimal())]['Income']

0          28815245
1         246120974
2        1005455211
3       4o8,035,783
4         222831817
           ...
96        156000000
97         11487676
98         15000000
99         22926076
100         1864182
Name: Income, Length: 100, dtype: object

In [20]:
imdb['Income'] = imdb['Income'].str.replace('o', '0')
imdb['Income'] = pd.to_numeric(imdb['Income'], errors='coerce', downcast='integer')
imdb

,title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142.0,USA,R,Frank Darabont,2.881524e+07,2.278.845,9.3
1,tt0068646,The Godfather,1972-09-21,"Crime, Drama",175.0,USA,R,Francis Ford Coppola,2.461210e+08,1.572.674,9.2
2,tt0468569,The Dark Knight,2008-07-23,"Action, Crime, Drama",152.0,USA,PG-13,Christopher Nolan,1.005455e+09,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220.0,USA,R,Francis Ford Coppola,NaN,1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",NaN,USA,R,Quentin Tarantino,2.228318e+08,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129.0,USA,PG,George Roy Hill,1.560000e+08,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149.0,West Germany,R,Wolfgang Petersen,1.148768e+07,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132.0,Italy,NaN,Sergio Leone,1.500000e+07,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123.0,Iran,PG-13,Asghar Farhadi,2.292608e+07,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103.0,USA,NaN,Stanley Donen,1.864182e+06,213.152,7.4

In [21]:
# income check
imdb['Votes'] = imdb['Votes'].str.strip()
imdb['Votes'] = imdb['Votes'].str.replace('.', '')
imdb[~(imdb['Votes'].isnull() | imdb['Votes'].str.isdecimal())]['Votes']

Series([], Name: Votes, dtype: object)

In [22]:
# convert votes to float
imdb['Votes'] = pd.to_numeric(imdb['Votes'], errors='coerce')

In [23]:
# check scores
imdb[~imdb['Score'].str.contains(r'^\d{1,2}.\d$')]['Score']

2         9.
3       9,.0
4       8,9f
8       8..8
14     ++8.7
15      8.7.
16    8,7e-0
Name: Score, dtype: object

In [24]:
imdb['Score'] = imdb['Score'].str.replace(r'[.,]+\b', '.', regex=True)
imdb['Score'] = imdb['Score'].str.replace(r'[^\d.,]', '', regex=True)
imdb['Score'] = imdb['Score'].str.strip('.')
imdb[~imdb['Score'].str.contains(r'^\d{1,2}.\d$')]['Score']

2        9
10      88
16    8.70
Name: Score, dtype: object

In [25]:
imdb['Score'] = pd.to_numeric(imdb['Score'], errors='coerce')
imdb.dtypes

title ID                  object
Original title            object
Release year      datetime64[ns]
Genre                     object
Duration                 float64
Country                   object
Content Rating            object
Director                  object
Income                   float64
Votes                      int64
Score                    float64
dtype: object

In [26]:
# check if all scores are less than 10.0
imdb[(imdb['Score'] > 10.) | (imdb['Score']< 0.)]

,title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income,Votes,Score
10,tt0109830,Forrest Gump,1994-10-06,"Drama, Romance",142.0,USA,PG-13,Robert Zemeckis,678229452.0,1755490,88.0

In [27]:
imdb['Score'] = imdb['Score'].apply(lambda x: x/10 if x > 10 else x)
imdb[(imdb['Score'] > 10.) | (imdb['Score']< 0.)]

Empty DataFrame
Columns: [title ID, Original title, Release year, Genre, Duration, Country, Content Rating, Director, Income, Votes, Score]
Index: []

In [28]:
imdb.dtypes

title ID                  object
Original title            object
Release year      datetime64[ns]
Genre                     object
Duration                 float64
Country                   object
Content Rating            object
Director                  object
Income                   float64
Votes                      int64
Score                    float64
dtype: object

In [29]:
imdb

,title ID,Original title,Release year,Genre,Duration,Country,Content Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142.0,USA,R,Frank Darabont,2.881524e+07,2278845,9.3
1,tt0068646,The Godfather,1972-09-21,"Crime, Drama",175.0,USA,R,Francis Ford Coppola,2.461210e+08,1572674,9.2
2,tt0468569,The Dark Knight,2008-07-23,"Action, Crime, Drama",152.0,USA,PG-13,Christopher Nolan,1.005455e+09,2241615,9.0
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220.0,USA,R,Francis Ford Coppola,NaN,1098714,9.0
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",NaN,USA,R,Quentin Tarantino,2.228318e+08,1780147,8.9
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129.0,USA,PG,George Roy Hill,1.560000e+08,236285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149.0,West Germany,R,Wolfgang Petersen,1.148768e+07,226427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132.0,Italy,NaN,Sergio Leone,1.500000e+07,226039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123.0,Iran,PG-13,Asghar Farhadi,2.292608e+07,214165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103.0,USA,NaN,Stanley Donen,1.864182e+06,213152,7.4

In [30]:
imdb['id'] = imdb.index
movie_genre = pd.DataFrame({'movie_id': imdb.index, 'genre': imdb['Genre']})

movie_genre['genre'] = movie_genre['genre'].apply(lambda x: x.replace(' ', '').split(','))
movie_genre = movie_genre.explode('genre')
movie_genre

     movie_id    genre
0           0    Drama
1           1    Crime
1           1    Drama
2           2   Action
2           2    Crime
..        ...      ...
98         98  Western
99         99    Drama
100       100   Comedy
100       100  Musical
100       100  Romance

[245 rows x 2 columns]

In [31]:
# spliting genres to rows
genres = pd.DataFrame(
    {'genre_name': movie_genre['genre'].unique(),}
)
genres['id'] = np.arange(0, genres['genre_name'].count())
genres

   genre_name  id
0       Drama   0
1       Crime   1
2      Action   2
3   Adventure   3
4   Biography   4
5     History   5
6      Sci-Fi   6
7     Romance   7
8     Western   8
9     Fantasy   9
10    Mystery  10
11   Thriller  11
12        War  12
13  Animation  13
14     Family  14
15     Comedy  15
16      Music  16
17     Horror  17
18  Film-Noir  18
19    Musical  19

In [32]:
movie_genre['genre'] = movie_genre['genre'].apply(lambda x: genres.index[genres['genre_name'] == x][0])
movie_genre.rename(columns={'genre': 'genre_id'}, inplace=True)
imdb.drop(columns='Genre', inplace=True)
movie_genre

     movie_id  genre_id
0           0         0
1           1         1
1           1         0
2           2         2
2           2         1
..        ...       ...
98         98         8
99         99         0
100       100        15
100       100        19
100       100         7

[245 rows x 2 columns]

In [33]:
# handling `Director` column
movie_director = pd.DataFrame({'movie_id': imdb['id'], 'directors': imdb['Director']})
imdb.drop(columns='Director', inplace=True)
movie_director['directors'] = movie_director['directors'].apply(lambda x: [xi.strip() for xi in x.split(',')])
movie_director = movie_director.explode('directors')
movie_director

     movie_id             directors
0           0        Frank Darabont
1           1  Francis Ford Coppola
2           2     Christopher Nolan
3           3  Francis Ford Coppola
4           4     Quentin Tarantino
..        ...                   ...
96         96       George Roy Hill
97         97     Wolfgang Petersen
98         98          Sergio Leone
99         99        Asghar Farhadi
100       100         Stanley Donen

[108 rows x 2 columns]

In [34]:
# create frame with data about directors
directors = pd.DataFrame({'director': movie_director['directors'].unique()})
directors['id'] = np.arange(0, directors['director'].count())
directors

                director  id
0         Frank Darabont   0
1   Francis Ford Coppola   1
2      Christopher Nolan   2
3      Quentin Tarantino   3
4          Peter Jackson   4
..                   ...  ..
65            David Lean  65
66       George Roy Hill  66
67     Wolfgang Petersen  67
68        Asghar Farhadi  68
69         Stanley Donen  69

[70 rows x 2 columns]

In [35]:
directors.dtypes

director    object
id           int64
dtype: object

In [36]:
# find if there is any non-alphabet character
directors[directors['director'].str.contains('[^A-Za-z\s]')]

              director  id
18         KÃ¡tia Lund  18
33      Ãric Toledano  33
45      Chan-wook Park  45
62  Jean-Pierre Jeunet  62

In [37]:
# check if similar directors already exist in table
directors[directors['director'].str.contains('Lund|Toledano', regex=True)]

          director  id
18     KÃ¡tia Lund  18
33  Ãric Toledano  33

In [38]:
movie_director['directors'] = movie_director['directors'].apply(lambda x: directors[directors['director'] == x]['id'].values[0])
movie_director.rename(columns={'directors': 'director_id'})
movie_director

     movie_id  directors
0           0          0
1           1          1
2           2          2
3           3          1
4           4          3
..        ...        ...
96         96         66
97         97         67
98         98          9
99         99         68
100       100         69

[108 rows x 2 columns]

In [39]:
# edit directors
# directors.iloc[18, 'director'] = 'Kátia Lund'
# directors.iloc[33, 'director'] = 'Éric Toledano'
directors.loc[directors['id'] == 18, 'director'] = 'Kátia Lund'
directors.loc[directors['id'] == 33, 'director'] = 'Éric Toledano'
directors[directors['director'].str.contains('[^A-Za-z\s]')]

              director  id
18          Kátia Lund  18
33       Éric Toledano  33
45      Chan-wook Park  45
62  Jean-Pierre Jeunet  62